@{ViewData["Title"] = "Manual";}

<form method="post">
    <h1>Manual</h1>
    <input type="number" name="Val1" style="width:300px; height:35px"/><br>
    <select name="Operation">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select><br>
    <input type="number" name="Val2" style="width:300px; height:35px"><br>
    <input type="submit" value="Submit">
</form>
